In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import random
from sklearn.decomposition import PCA
from numpy.linalg import inv
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import plot_confusion_matrix

In [2]:
# Read a feature space
LO_nonover = pd.read_csv('/Users/bhuvanakorrapati/Desktop/output/merge_LO.csv',header=None)

LO_over = pd.read_csv('/Users/bhuvanakorrapati/Desktop/output/overlapping_merge_LO.csv',header=None)

LOA_nonover = pd.read_csv('/Users/bhuvanakorrapati/Desktop/output/merge_LOA.csv',header=None)

LOA_over = pd.read_csv('/Users/bhuvanakorrapati/Desktop/output/overlapping_merge_LOA.csv',header=None)

In [5]:
LO_nonover = pd.read_csv("/Users/bhuvanakorrapati/Desktop/output/merge_LO.csv",header=None) 
data = np.array(LO_nonover)
row, col = data.shape
dm = 6 # Try different dimensions
pca1 = PCA(n_components=dm)
score1 = pca1.fit_transform(data[:,0:144]) #col-1
scores1 = pd.DataFrame(score1)
y1 = data[144] #Label column
y1d = pd.DataFrame(y1)
sc1 = pd.concat((y1d,scores1),axis=1)

In [6]:
print(sc1)

       0           0           1           2           3           4  \
0    144  770.525345  500.444855   61.359360  -15.259490  -39.296639
1      0   23.353442  -98.969612 -298.669217  -78.932397   24.179354
2      0 -733.242843  -12.401836  -93.616044  -15.709480   53.633949
3      0  588.258197  -63.855172  -34.432402  -19.469043  -42.893075
4      0  -46.962528  196.752499 -190.992306  123.412535  110.880470
..   ...         ...         ...         ...         ...         ...
700    1 -277.012605  246.986770  -29.768267  -61.988710  -40.430120
701    1  965.832637   33.020404 -140.258727  -14.622731  -37.888146
702    0  358.057896  -33.780284    0.406310   81.218289   55.999981
703    1   18.100320  -62.192908   50.717406  -19.844823    9.117492
704    1  556.970823  215.462362  -86.387945  -63.680385  -91.175545

              5
0     13.722459
1    -24.413884
2     26.971307
3     -3.437525
4     15.145317
..          ...
700  123.788498
701   26.579852
702   58.230863
703    0.728500
704   24.260090

[705 rows x 7 columns]

In [7]:
sc1.to_csv('/Users/bhuvanakorrapati/Desktop/output2/sc1.csv', index=False)

In [74]:
LO_over = pd.read_csv("/Users/bhuvanakorrapati/Desktop/output/overlapping_merge_LO.csv",header=None) 
data = np.array(LO_over)
row, col = data.shape
dm = 6 # Try different dimensions
pca2 = PCA(n_components=dm)
score2 = pca2.fit_transform(data[:,0:144]) #col-1
scores2 = pd.DataFrame(score2)
y2 = data[144] #Label column
y2d = pd.DataFrame(y2)
sc2 = pd.concat([scores2.reset_index(drop=True),y2d.reset_index(drop=True)], axis=1)

In [77]:
print(sc2)

                0           1           2           3           4           5  \
0      696.921467  499.555015  -13.904621   -3.494053   28.466330   -0.477707
1     -174.909808  113.594670  163.577642   48.378785   68.875404  152.470208
2       70.423278   -7.949985  -16.245615   84.279437  217.504396   14.096752
3      641.389454   80.341310  134.401066  117.348569  -60.321542   40.630152
4      264.264411   88.740682   63.400867  -14.437509  -70.706729 -129.924242
...           ...         ...         ...         ...         ...         ...
90716 -231.558105   17.907572  562.753610  105.065532  222.236602 -183.095293
90717 -537.858364 -119.462810 -102.682449    6.277181   15.937431  -20.376796
90718  380.785792  -89.944632   53.479464  -75.065192  -73.422099   78.341741
90719  668.727712   17.316856 -198.818535   17.381407  -49.466205    3.040987
90720 -455.169877  -35.622336 -216.129733  -25.472304   -0.608925  -13.627558

           0
0      159.0
1      157.0
2      168.0
3      149.0
4      156.0
...      ...
90716    NaN
90717    NaN
90718    NaN
90719    NaN
90720    NaN

[90721 rows x 7 columns]

In [50]:
sc2.to_csv('/Users/bhuvanakorrapati/Desktop/output2/sc2.csv', index=False)

In [51]:
LOA_nonover = pd.read_csv("/Users/bhuvanakorrapati/Desktop/output/merge_LOA.csv",header=None) 
data = np.array(LOA_nonover)
row, col = data.shape
dm = 6 # Try different dimensions
pca3 = PCA(n_components=dm)
score3 = pca3.fit_transform(data[:,0:144]) #col-1
scores3 = pd.DataFrame(score3)
scores3.reset_index(drop=True)
y3 = data[:,144] #Label column
y3d = pd.DataFrame(y3)
sc3 = pd.concat((y3d,scores3),axis=1)
sc3.reset_index(drop=True)

,0,0,1,2,3,4,5
0,144,760.203243,329.952094,376.440237,2.302988,-34.904379,-17.404857
1,2,957.168539,-67.376376,-82.316641,-41.939012,-20.483594,14.209076
2,0,203.148572,188.326208,-127.054260,-208.968904,103.578118,-87.610345
3,2,-789.322475,-10.492422,61.139680,27.412317,-10.285332,27.414280
4,1,566.171305,-276.403619,70.545464,99.131772,135.220145,-86.714053
...,...,...,...,...,...,...,...
1052,0,419.862432,235.864167,-181.490748,-142.883733,62.967002,-57.966901
1053,1,146.227522,-38.413987,25.028971,9.910376,116.589612,-65.813474
1054,0,67.736585,100.665923,-119.180139,-1.141789,16.884348,16.081193
1055,2,-1058.325217,8.232784,-40.203638,-22.725268,18.231221,8.081022
1056,2,560.664776,102.958668,93.177926,-154.921366,38.367290,31.255975

In [52]:
print(sc3)

        0            0           1           2           3           4  \
0     144   760.203243  329.952094  376.440237    2.302988  -34.904379
1       2   957.168539  -67.376376  -82.316641  -41.939012  -20.483594
2       0   203.148572  188.326208 -127.054260 -208.968904  103.578118
3       2  -789.322475  -10.492422   61.139680   27.412317  -10.285332
4       1   566.171305 -276.403619   70.545464   99.131772  135.220145
...   ...          ...         ...         ...         ...         ...
1052    0   419.862432  235.864167 -181.490748 -142.883733   62.967002
1053    1   146.227522  -38.413987   25.028971    9.910376  116.589612
1054    0    67.736585  100.665923 -119.180139   -1.141789   16.884348
1055    2 -1058.325217    8.232784  -40.203638  -22.725268   18.231221
1056    2   560.664776  102.958668   93.177926 -154.921366   38.367290

              5
0    -17.404857
1     14.209076
2    -87.610345
3     27.414280
4    -86.714053
...         ...
1052 -57.966901
1053 -65.813474
1054  16.081193
1055   8.081022
1056  31.255975

[1057 rows x 7 columns]

In [53]:
sc3.to_csv('/Users/bhuvanakorrapati/Desktop/output2/sc3.csv', index=False)

In [54]:
LOA_over = pd.read_csv("/Users/bhuvanakorrapati/Desktop/output/overlapping_merge_LOA.csv",header=None) 
data = np.array(LOA_over)
row, col = data.shape
dm = 6 # Try different dimensions
pca4 = PCA(n_components=dm)
score4 = pca4.fit_transform(data[:,0:144]) #col-1
scores4 = pd.DataFrame(score4)
y4 = data[:,144] #Label column
y4d = pd.DataFrame(y4)
sc4 = pd.concat((y4d,scores4),axis=1)

In [55]:
print(sc4)

          0           0           1           2           3          4  \
0       144  709.311271  497.562457   35.940004   -5.676203 -27.592643
1         0 -216.582295 -147.681123   77.221542   31.717917 -47.318116
2         1 -534.402032  -31.275054  -44.351347    4.663220 -16.580985
3         1  631.196679  152.772346  296.064011    2.487116 -49.788202
4         1   -1.602238  -96.195607   -4.891841   -6.955798   2.738340
...     ...         ...         ...         ...         ...        ...
136076    0 -384.950163   73.349116  167.445752   29.487293 -10.408705
136077    0  501.288851  218.333670  -20.863059  -17.463665 -17.808594
136078    1  753.571349  112.471980  272.833605   23.822944 -55.087841
136079    0  -68.282779   45.518893  107.353295  -22.540965 -13.402218
136080    1   86.669300  -65.722673  -68.886740  113.213821  40.710667

                 5
0         6.326940
1        41.209660
2       -11.268898
3        76.832870
4        -4.506846
...            ...
136076  -13.099867
136077  -24.699119
136078  115.232436
136079   -8.750055
136080   16.443098

[136081 rows x 7 columns]

In [56]:
sc4.to_csv('/Users/bhuvanakorrapati/Desktop/output2/sc4.csv', index=False)

In [17]:
train_sc1 = sc1.sample(frac=0.8)
test_sc1 = sc1.drop(train_sc1.index)

In [18]:
train_sc1.shape

(564, 7)

In [19]:
train_sc1.to_csv('/Users/bhuvanakorrapati/Desktop/output2/train_sc1.csv', index=False)
test_sc1.to_csv('/Users/bhuvanakorrapati/Desktop/output2/test_sc1.csv', index=False)

In [20]:
train_sc2 = sc2.sample(frac=0.8)
test_sc2 = sc2.drop(train_sc2.index)

In [21]:
train_sc2.shape

(72577, 7)

In [22]:
train_sc2.to_csv('/Users/bhuvanakorrapati/Desktop/output2/train_sc2.csv', index=False)
test_sc2.to_csv('/Users/bhuvanakorrapati/Desktop/output2/test_sc2.csv', index=False)

In [23]:
train_sc3 = sc3.sample(frac=0.8)
test_sc3 = sc3.drop(train_sc3.index)

In [24]:
train_sc3.shape

(846, 7)

In [25]:
train_sc3.to_csv('/Users/bhuvanakorrapati/Desktop/output2/train_sc3.csv', index=False)
test_sc3.to_csv('/Users/bhuvanakorrapati/Desktop/output2/test_sc3.csv', index=False)

In [26]:
train_sc4 = sc4.sample(frac=0.8)
test_sc4 = sc4.drop(train_sc4.index)

In [27]:
train_sc4.shape

(108865, 7)

In [28]:
train_sc4.to_csv('/Users/bhuvanakorrapati/Desktop/output2/train_sc4.csv', index=False)
test_sc4.to_csv('/Users/bhuvanakorrapati/Desktop/output2/test_sc4.csv', index=False)

In [29]:
a = train_sc4[0]
print(a)

        0            0
114585  0  1010.967719
20795   0  -733.057575
46864   0  1234.592576
135746  1     0.168142
50707   0  -216.903207
...    ..          ...
52461   0  -634.877824
113819  0  -232.953410
27217   0   208.012643
42364   1  -467.628585
95875   0  -270.894108

[108865 rows x 2 columns]

In [30]:
import pandas as pd
import numpy as np
from numpy.linalg import inv
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier
import seaborn as sns
from sklearn import metrics
from sklearn.metrics import classification_report

input_data_train = pd.read_csv("/Users/bhuvanakorrapati/Desktop/output2/train_sc1.csv",header=None)

y = input_data_train[0]

input_data_train.drop(144,axis=1,inplace=True)
X = input_data_train

X1 = np.array(X)
X2 = X1.transpose()
XX = np.matmul(X2, X1)

IX = inv(XX)
TX = np.matmul(X1, IX)

Y1 = np.array(y)
Y2 = Y1.transpose()

A = np.matmul(Y2, TX)

Œª=0.09
h=np.sign(A) 
L1=(A-(Œª/2)*h)  
LR=np.matmul(L1,IX)

Z1 = np.matmul(X1, LR)

input_data_1= pd.read_csv("/Users/bhuvanakorrapati/Desktop/output2/test_sc1.csv",header=None)[1:]
y_tt = input_data_1[144]

input_data_1

input_data_1.drop(144,axis=1,inplace=True)

X_tt = input_data_1
X_tt1=np.array(X_tt)
Z1_test=np.matmul(X_tt1,LR)
Z_mean=Z1_test>Z1_test.mean()

a_int=np.multiply(Z_mean,1)
predicted=pd.read_csv("/Users/bhuvanakorrapati/Desktop/output2/test_sc1.csv",header=None)[1:]
predicted[145]=a_int
predicted.to_csv("/Users/bhuvanakorrapati/Desktop/output2/PCA_sc1.csv")

KeyError: '[144] not found in axis'

In [31]:
CC_test = confusion_matrix(y_tt, a_int,labels=[0,1,2])

predicted[144]

type(predicted)

sns.heatmap(CC_test, annot=True,fmt="d")

TN = CC_test[1,1]
FP = CC_test[1,0]
FN = CC_test[0,1]
TP = CC_test[0,0]

FPFN = FP+FN
TPTN = TP+TN

Accuracy = 1/(1+(FPFN/TPTN))
print("Our_Accuracy_Score:",Accuracy)
Precision = 1/(1+(FP/TP))
print("Our_Precision_Score:",Precision)
Sensitivity = 1/(1+(FN/TP))
print("Our_Sensitivity_Score:",Sensitivity)
Specificity = 1/(1+(FP/TN))
print("Our_Specificity_Score:",Specificity)

NameError: name 'y_tt' is not defined